html, body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-fg-default);
  transition: background 0.4s, color 0.4s;
}

* {
  transition: background 0.4s, color 0.4s;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
}

button {
  outline: none;
}

a, a:visited, a:active {
  color: var(--color-accent-fg, #1976D2);
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
  padding: 16px 10px 0 10px;
  position: relative;
}

.logo {
  position: static;
  font-weight: bold;
  color: var(--color-accent-fg, inherit);
  font-size: 1.3em;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

footer {
  padding: 0 10px;
  max-width: 700px;
  margin: 50px auto 20px auto;

  .github-buttons {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-info {
    display: flex;

    .author {
      flex: 1;
      text-align: right;
    }
  }
}

.app-text {
  color: var(--color-fg-default);
}

@media (max-width: 500px) {
  .fork-me-btn img {
    display: none;
  }
}

.no-theme-transition *, .no-theme-transition, .no-theme-transition *:before, .no-theme-transition *:after {
  transition: none !important;
}
