:root {
  --light-btn1: #FC625D;
  --light-btn2: #FDBC40;
  --light-btn3: #35CA4A;
  --dark-btn1: #E35F39;
  --dark-btn2: #75746D;
  --dark-btn3: #75746D;
}

.output {
  display: flex;
  flex-direction: column;
}

.terminal {
  display: flex;
  flex-direction: column;
  margin: 20px auto 50px auto;
  border-radius: 6px;
  box-shadow: 0 0 40px var(--color-shadow, #b7b7b7);
  // border: 1px solid #7b7b7b;

  .terminal-header {
    background: #DBD9DB;
    background: linear-gradient(to bottom, #E7E5E7, #D2D0D2);
    text-align: center;
    position: relative;
    color: #373537;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px 5px 0 0;

    .btns {
      position: absolute;
      top: 7px;
      display: flex;

      & > div {
        width: 14px;
        height: 14px;
        // background: red;
        border-radius: 50%;
        margin-left: 8px;

        &:nth-child(1) { background: var(--light-btn1); }
        &:nth-child(2) { background: var(--light-btn2); }
        &:nth-child(3) { background: var(--light-btn3); }
      }
    }
  }

  .terminal-body {
    display: flex;
    height: 180px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: monospace;
    padding: 10px;
    background: white;
    border-radius: 0 0 5px 5px;

    .text {
      transition: all .15s ease-in;
      padding: 0 10px;
      outline: none;

      &.format-bold { font-weight: bold; }
      &.format-underlined { text-decoration: underline; }
      &.format-hidden { visibility: hidden; }
    }
    .arrow {
      color: #b7b7b7;
    }
  }
}

.terminal.dark {
  .terminal-header {
    background: linear-gradient(to bottom, #51525b, #0f1522);
    color: white;
    font-weight: 500;

    .btns {
      & > div:nth-child(1) { background: var(--dark-btn1); }
      & > div:nth-child(2) { background: var(--dark-btn2); }
      & > div:nth-child(3) { background: var(--dark-btn3); }
    }
  }

  .terminal-body {
    background: var(--color-bar-black);

    .text {
      color: white;
    }
  }
}

.terminal,
.terminal .terminal-header,
.terminal .terminal-body,
.terminal .text {
  transition: background 0.4s, color 0.4s;
}
